.section.page#contact
  .contact-container
    h1 Contact
    ul
      li
        .img-container
          img(src='./assets/img/icons/email_icon.png')
        a(href='mailto:sitacuisses.podcast@gmail.com') sitacuisses.podcast@gmail.com
      li
        .img-container
          img(src='./assets/img/icons/instagram_icon.svg')
        a(href='https://instagram.com/sitacuisses.podcast') @sitacuisses.podcast
      li
        .img-container
          img(src='./assets/img/icons/facebook_icon.svg')
        a(href='https://fb.me/sitacuisses.podcast') fb.me/sitacuisses.podcast
      //- li
      //-   a(href='')
