doctype html(lang='de')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title SI TACUISSES
  meta(name='description', content='')
  meta(name='keywords', content='')
  meta(name='viewport', content='width=device-width')
  
  //// Google verification
  //- meta(name='google-site-verification', content='aDc1SDFl1KPqqdV_xwCvdJz-xtLmpHpJ5pCSLkTc3Y4')
  
  //// favicons
  //- link(rel='shortcut icon', href='assets/favicon.ico?', type='image/x-icon')
  //- link(rel='icon', href='assets/favicon.ico?', type='image/x-icon')
  
  // Custom CSS
  //- link(rel='stylesheet', href='../assets/css/bootstrap.min.css')
  link(rel='stylesheet', href='assets/css/main.css')
  
  // javascript
  //- script(type='text/javascript', src='assets/js/jquery-3.2.1.min.js')
  //- script(type='text/javascript', src='assets/js/jquery.slides.min.js')
  //- script(type='text/javascript', src='assets/js/script-min.js')
  <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>