.section.page#info
  .textbox
    //- h1 INFO TITLE
    p Ein Podcast von Mimu Merz und Sandro Nicolussi in Kooperation mit dem Verein Kunstkumpel Waldhausen (Trägerverein) und Lames in St.Pölten. Gefördert von der MA7 der Stadt Wien und dem Land Niederösterreich. 
    p Aus dieser Not wollen machen wir eine explorative Tugend und nutzen das Format Podcast, um im Gespräch mit österreichischen Musiker*innen durch alte und neue, möglicherweise unfertige, jedenfalls aber noch unveröffentlichte Skizzen zu wühlen. 

    p Dabei stehen Authentizität und Imperfektion der Werke und das Ergründen des jeweiligen Workflows im Vordergrund, was mehr vom kreativen Prozess und der/des Musiker*innenpersönlichkeit preisgeben mag, als fleckenlos polierte Studioproduktionen, die die Öffentlichkeit für gewöhnlich zu hören bekommt. 

    p Im Zentrum des Gesprächs: Was hat zur Skizze inspiriert? Gab es handwerkliche, formale oder motivatorische Hürden? Was waren die Lebensumstände bei der Skizzenerstellung? Warum wurde nichts aus dem Ding? Was verbindet man mit dieser Vorstufe eines fertigen Stückes bzw. geniert man sich gar ein wenig, es preiszugeben? 

    p Damit soll die Fassade der Genialität angesägt werden, die in der musikalischen Populärkultur zum Konsens wurde. Wo Menschen meinen, die Hits von morgen werden von den Protagonist*innen einfach aus dem Ärmel geschüttelt, blicken wir hinter den romantischen Vorhang und durchforsten den Dschungel von Arbeitsprozess, Selbstzweifel und Scheitern. Backstage zum Anhören, quasi. 